* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
  border-radius: 0px;
}
:root {
  --amazon-primary-color: #131921;
  --amazon-secondary-color: #232f3e;

  --amazon-bg-color: #E3E6E6;
}
.hovered:hover {
  border: 1px solid #ffffff;
}
body{
  background-color: #E3E6E6;
}
.header-top {
  background-color: var(--amazon-primary-color);
  padding: 5px 16px 5px;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
  height: 55px;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-left .nav-left-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  margin-left: 12px;
}
.nav-left-location i {
  margin-top: 10px;
}
.nav-address-block p {
  font-size: 0.8rem;
  color: #cccccc;
  margin-left: 2px;
}
.nav-address-block span {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 700;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search-box {
  display: flex;
  justify-content: flex-start;
  width: 812px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
}
/* .search-box:hover{
    border: 2px solid #fcaa3f;
} */
.search-box .search-select {
  padding: 11px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #454545;
}
.search-box .search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 10px;
}

.search-box .search-btn {
  width: 55px;
  border: none;
  background-color: #febd69;
  font-size: 1.2rem;
  color: #383633;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-btn:hover {
  background-color: #fcaa3f;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signin-box {
  margin-left: 20px;
}
.signin-box-msg {
  font-size: 0.8rem;
}
.signin-box-acc {
  font-size: 0.9rem;
  font-weight: 700;
}
.logo {
  width: 95px;
}
.logo img {
  width: 98px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232F3E;
  height: 38px;
}

.nav-left-area {
  display: flex;
  margin-left: 8px;
}
nav a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
}
.nav-right-area a{
  color: #dddddd;
  font-weight: 400;
}

/* Hero Section */
.hero img{
  width: 100%;
}

/* Main Layout */
.main-layout{
  position: relative;
  padding: 25px;
  top: -380px;
}
/* Top Card Section */

.top-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  width: 352px;
  height: 422px;
  background-color: #FFFFFF;
}
.card .card-title{
  margin: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}
